<!DOCTYPE html>
<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
	<script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
	<script src="dataURItoBlob.js"></script>
	<script src="index.js"></script>
	<script>
	angular.module("app",[]).controller("Ctrl",['$scope',function($scope){
		var image="data:image/gif;base64,R0lGODlhCgAKAJEAAP////8AAAAA/wAAACH5BAAAAAAALAAAAAAKAAoAAAIWjC2Zhyoc3DOgAnXslfqo3mCMBJFMAQA7";
		var image="data:image/gif;base64,R0lGODlhCwAdAKIAAP8AAAD/AP//AI6OjgAAAP///wAAAAAAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQEZAAAACwAAAAACwAdAAADMHi63N4jvkghretipSXTk/eM5CeaG9ehF5seoPOWNBPcz603em/3uAUwKPQ5drVkAgAh+QQEMgAAACwCAAsABwAQAAADGXgnrMsNyknhswq7zff4ziceYmmeoxmCRwIAIfkEBGQAAAAsAgACAAcAEAAAAxl4B6zLDcpJ4bMKu833+M4nHmJpnqMZgkcCADs=";		
		$scope.image=image;
		var image_string=image.split(',');
		var byteString = atob(image_string[1]);
		var mimeString = image_string[0].split(':')[1].split(';')[0];
		
		var binary_arr=[];
		for (var i = 0; i < byteString.length; i++) {
			var value=byteString.charCodeAt(i);
			binary_arr.push(value)
		}
		var image_struct={
			pointer:0,
			block:[],
		}
		
		image_struct.format=getData(binary_arr,image_struct,6,"getFormat");
		image_struct.width=getData(binary_arr,image_struct,2,"getEdge");
		image_struct.height=getData(binary_arr,image_struct,2,"getEdge");
		image_struct.packedField=getData(binary_arr,image_struct,1,"getPackedField",{
			globalColorTableFlag:1,
			colorResultion:3,
			sortFlag:1,
			globalColorTableSize:3,
		});
		image_struct.bgColorIndex=getData(binary_arr,image_struct,1,"getEdge");
		image_struct.pixelAspectRatio=getData(binary_arr,image_struct,1,"getEdge");
		if(image_struct.packedField.value.globalColorTableFlag==1){
			var size=image_struct.packedField.value.globalColorTableSize;
			var count=Math.pow(2,parseInt(size,2)+1)*3;
			image_struct.colorTable=getData(binary_arr,image_struct,count,"getColorTable");
		}
		var start=Date.now();
		var count=0;
		while(true){
			var block={};
			
			if(binary_arr[image_struct.pointer]==33){
				var second=binary_arr[image_struct.pointer+1];
				var second_check_arr={
					1:{name:"PlainTextExtension",length:{start:2}},
					249:{name:"GraphicsControlExtension",length:8},
					254:{name:"CommentExtension",length:{start:2}},
					255:{name:"ApplicationExtension",length:{start:2,end:5}},
				};
				var length=second_check_arr[second].length;
				var name=second_check_arr[second].name;
				// console.log(second,second_check_arr[second])
				block[name]=getData(binary_arr,image_struct,length,name);
				// console.log(name)
			}
			
			if(binary_arr[image_struct.pointer]==44){
				console.log("descriptor")
				image_struct.pointer++;
				block.left=getData(binary_arr,image_struct,2,"getEdge");
				block.top=getData(binary_arr,image_struct,2,"getEdge");
				block.width=getData(binary_arr,image_struct,2,"getEdge");
				block.height=getData(binary_arr,image_struct,2,"getEdge");
				block.packedField=getData(binary_arr,image_struct,1,"getPackedField",{
					LocalColorTableFlag:1,
					InterlaceFlag:1,
					SortFlag:1,
					ReservedForFutureUse:2,
					LocalColorTableSize:3,
				});
				if(block.packedField.value.LocalColorTableFlag==1){
					var size=block.packedField.value.globalColorTableSize;
					var count=Math.pow(2,parseInt(size,2)+1)*3;
					block.colorTable=getData(binary_arr,image_struct,count,"getColorTable");
				}
				block.image_block=getData(binary_arr,image_struct,{start:1,end:1},"decode_byte");
				
			}
			image_struct.block.push(block);
			
			if(binary_arr[image_struct.pointer]==59){
				break;
			}
			if((Date.now()-start)/1000>1 || ++count>10){
				console.log(" 無窮迴圈 ");
				console.log(binary_arr.slice(image_struct.pointer,binary_arr.length));				
				break;
			}
		}
		// console.log(image_struct.block)
		console.log(image_struct)
		
		$scope.image_struct=image_struct;
		$scope.block_size=10;
	}])
	
	$(document).ready(function(){
		$(".upload").change(function(e){
			var files=e.target.files;
			var reader = new FileReader();					
			reader.onload=function(e){
				$("textarea").val(e.target.result)
			};
			reader.readAsDataURL(files[0]);	
		})
	})
	</script>
</head>
<body>
	
	<input type="file" class="upload" />
	<textarea></textarea>
	<div ng-app="app" ng-controller="Ctrl">
		<img style="width:auto;" ng-src="{{image}}" />
		<div style="word-break: break-all;">
		</div>
		<div>
			<div 
			style="
			display:inline-block;
			width:10px;height:10px;
			background:rgb({{color.join(',')}});
			" 
			ng-repeat="color in image_struct.colorTable.value">
			</div>
		</div>
				
		<div style="position:relative;">
			<div 
			style="
			float:left;
			margin-top:{{block_size*block.top.value}}px;
			margin-left:{{block_size*block.left.value}}px;
			width:{{block_size*block.width.value}}px;
			height:{{block_size*block.height.value}}px;
			"
			ng-if="block.image_block"
			ng-repeat="block in image_struct.block"
			>
			
				<div  
				style="
				vertical-align:top;
				float:left;
				width:{{block_size}}px;height:{{block_size}}px;
				background:rgb({{image_struct.colorTable.value[color_index].join(',')}});
				" 
				
				ng-repeat="color_index in block.image_block.value track by $index">
				</div>
				<div style="clear:both;"></div>
			</div>
		</div>
	</div>
</body>
</html>